.areaTotal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaTabuleiro{
    /*background-color: cyan;*/
}

.tabuleiro{
    height: 400px;
    width: 400px;
    border-radius: 4px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    width: 100%;
}

.cells{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    width: 100%;
    height: 100%;
    border: 1px solid #FF0043;
}

.cells:hover{
    background-color: #121111;
}

.preenchidoX{
    color: red;
}

.preenchidoY{
    color: blue;
}

.win{
    background-color: #121111;
    color: yellow;
}