.areaTotal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaTabuleiro{
    background-color: cyan;
}

.tabuleiro{
    height: 400px;
    width: 400px;
    background-color: #FF0043;
    border-radius: 4px;
}

th{
    height: 25%;
    width: 25%;
    font-size: 40px;
    transition: all 0.5s ease-in-out;
}

th:hover{
    background-color: #121111;
}

.preenchidoX{
    color: red;
}

.preenchidoY{
    color: blue;
}

.win{
    background-color: #121111;
    color: yellow;
}